# IDF build outputs
build/
sdkconfig
sdkconfig.old
boards/lilygo/vendor

# Python
__pycache__/
*.pyc
.venv/

# VSCode / IDE stuff
.vscode/
.idea/

# Local scratch space
temp/
boards/lilygo/T-Disp_S3_AMOLED_Touch_1.91/vendor/
