menu "IMU (QMI8658)"

    config IMU_I2C_PORT
        int "I2C port number"
        default 0
        range 0 1
        help
            Shared with RTC. Must match CONFIG_RTC_I2C_PORT if both features are used.

endmenu
